<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%=messages%>
    <h1>Hi from flash</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi tempora porro laudantium nesciunt, quae dignissimos minus, quasi qui perspiciatis vel tenetur voluptatibus nemo rem veniam, mollitia necessitatibus ipsam commodi dolor?
    Libero possimus non ducimus beatae nostrum modi totam eos officia dignissimos ad suscipit quia ipsa, voluptates aspernatur? Hic asperiores perspiciatis praesentium illo nihil dignissimos ab? Officia soluta labore iure modi!
    Dolores qui aut corporis commodi laboriosam numquam consequatur fugit ullam et facere adipisci eveniet incidunt, earum voluptatem. Aspernatur et omnis, dolor fugit perferendis, provident ab magni facere iusto tempora laudantium.
    Est velit excepturi perspiciatis sequi, nulla error quis unde reprehenderit hic expedita dolore, tempora quidem ex itaque, ipsum sint labore? Impedit, ex doloribus corporis distinctio libero earum deleniti ullam aspernatur.
    Dolorum atque velit nemo accusantium cum, sit commodi odio veritatis nisi maiores, voluptatem, recusandae culpa! Neque nihil illo repellat optio ipsam, asperiores mollitia rerum similique quibusdam numquam et possimus dolorem.</p>
    
</body>
</html>